@media (max-width: 767px) {
  .container {
    width: 90%;
  }
  .logo {
    width: 0;
    margin: 6% 0 0 6%;
  }
  h2 {
    margin-top: 10%;
    font-size: 24px;
    text-align: center;
  }
  .column {
      flex: 51%;
      max-width: 71%;
  }
  .dot,.slideshow-container {
    display: none;
  }
  .topnav, .contact, .slider-wrap {
    display: none;
  }
/* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #f4fafe;
    position: relative;
  }
  .nav {
    width: 80%;
    height: 150px;
  }
  nav ul {
    flex-direction: column;
  }
  .nav-links li {
    text-align: center;
    padding: 0;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  /* Add a grey background color on mouse-over */
  .nav-links a:hover {
    background-color: greenyellow;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  .langchange {
    position: absolute;
    left: 114px;
  }
  .fa-bars:before {
    content: "\f0c9";
    position: absolute;
    right: 60px;
  }    
  .icon {
    display: block;
  }
  .fa {
    color: #314584;        
  }
  #subject {
    margin: 0 0 4% 0;
    width: 90%;
  }
  #email {
    width: 90%;
  }
  #msg {
    width: 90%;
  }
  /* Style the hamburger menu */
  header .icon {
    color: #314584;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  #contact-us {
    text-align: center;
  }
  form {
    width:90%;
  }
  .footer-nav ul {
    display: block;
  }
  .footer-nav ul li {
    padding-right: 0;
    margin-bottom: 10px;
  } 
}
@media (min-width: 768px) and (max-width:1000px) {
.container {
  width: 90%;
}
.topnav {
  display: block;
}  
.logo {
  margin-left: 5vw
}  
.column {
  flex: 50%;
  max-width: 45%;
}
body {
  padding-bottom: 45vh;
}
/* .column {
  min-height: auto;
  display: block;
  width: 45%;
  background-position: top;
} */
.logo {
  margin-top: 38px;
}
.langchange {
  margin-top: 20px;
}
.icon {
  position: absolute;
  top: 5vh;
  right: 10vw;
}
.prev, .next {
  padding: 0;
}
/* .right img {
    width: 50%;      
} */
.slideshow-container {
  width: 100%;
}
#subject {
  margin: 0 0 4% 0;
  width: 100%;
}
#email {
  width: 100%;
}}      
