@media (min-width:0px) and (max-width: 321px) {
  .container {
    width: 300px;
  }
  h2 {
    font-size: 24px;
  }
  .column {
      flex: 51%;
      max-width: 71%;
  }
  .dot,.slideshow-container {
    display: none;
  }
  .topnav, .contact, .slider-wrap {
    display: none;
  }
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}
/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}

  .logo {
    margin: 7vh 0 0 7vw;
  }
  .langchange {
    position: absolute;
    left: 114px;
  }
  .fa-bars:before {
    content: "\f0c9";
    position: absolute;
    right: 60px;
  }    
  .icon {
    display: block;
  }
  #subject {
    margin: 0 0 4% 0;
    width: 100%;
  }
  #email {
    width: 100%;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  .footer-nav ul {
    display: block;
  }
  .footer-nav ul li {
    padding-right: 0;
    margin-bottom: 10px;
  } 
}
@media (min-width:322px) and (max-width: 768px) {
.container {
  width: 740px;
}
.topnav {
  display: block;
}  
.logo {
  margin-left: 5vw
}  
.column {
  flex: 50%;
  max-width: 45%;
}
body {
  padding-bottom: 45vh;
}
/* .column {
  min-height: auto;
  display: block;
  width: 45%;
  background-position: top;
} */
.logo {
  margin-top: 38px;
}
.langchange {
  margin-top: 20px;
}
.icon {
  position: absolute;
  top: 5vh;
  right: 10vw;
}
.prev, .next {
  padding: 0;
}
/* .right img {
    width: 50%;      
} */
.slideshow-container {
  width: 100%;
}
#subject {
  margin: 0 0 4% 0;
  width: 100%;
}
#email {
  width: 100%;
}}      
