 * {
     margin: 0;
     box-sizing: border-box;
 }
 nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
 }
 ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
  }
  li {
    width: 10%;
  }
  h1 {
      font: #314584;
  }